<h2 class="align-table">Explore Cities</h2>
<%= form_with(url: "/cities", method: "get", local: true) do %>
  <%= label_tag(:q, "Search for City Name:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

<table>
  <thead>
    <tr>
      <th>City</th>
      <th>Average Rating</th>
    </tr>
  </thead>
  <tbody>
    <% @cities.each do |city| %>
    <tr class="border-bottom">
      <td class="no-underline"><%= link_to city.combined_name, city_path(city) %></td>
      <td><%= city.rating_avg %></td>
    </tr>
    <% end %>
  </tbody>
</table>


