<!DOCTYPE html>
<html>
  <head>
    <title>TravelBuddies</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <% if session["user_id"] %> 
        <a href="/users/:id"> User Profile</a><br>
        <a href="/users"> View Travelers</a><br>
        <a href="/cities"> Explore Cities</a><br>
        <a href="/countries"> Explore Countries</a><br>
        <a href= "/logout"> Logout </a>
      <% else %>
        <a href= "/signup"> Sign-Up </a><br>
        <a href= "/login"> Login </a>
      <% end %>
    <%= yield %>
  </body>
</html>
